
* {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: indigo;
}
.main-body {
    background-color: greenyellow;
    background-image: url(https://raw.githubusercontent.com/codefellows/seattle-code-201d79/main/class-06/lab/assets/salmon.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
header {
    height: 100px;
}
main {
    padding-top: 40px;
}

h1 {

    font-family: 'Luckiest Guy', cursive;
    font-size: 60px;
    color: salmon;
    background-color: transparent;
    text-align: center;
    padding: 30px;
    margin: auto;
    border-style:  double;
    border-color: rgb(39, 20, 151);

}

nav {

    margin: auto;
    padding: 10;
    width: auto;
    height: auto;
}

ul {
    background-color: transparent;
    padding: 20%;
    text-align: center;
    padding: 10px;

}

li {
    list-style-type: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
    font-size: large;
    display: inline-block;
    padding: 10px;
}

a {
    color: rgb(255, 0, 170);
}


section {

    font-family: 'lobster', cursive;
    font-size: x-large;
    color: rgb(255, 28, 28);
    background-color: transparent;
    text-align: center;
    padding: 0%;
    margin: 25px;
    border-style: dotted;
    border-color: teal;
}

h2 {

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(43, 130, 211);
    text-align: center;
    font-size: large;
    color: black;
    border-style: double;
    padding: 0%;
    margin: 0%;
}
table {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    padding-top: 100px;
    padding-left: 500px;
    padding-bottom: 100px;
    background-color: lightgreen;
    display: block;
    border: thin solid black;
}
th, td, tr {
    border: thin solid black;
}
footer {
    text-align: center;
}
form {
    background-color: seagreen;
}
.our-story {
    text-indent: 50px;
}
#story-div {
    background-color: lightseagreen;
}